*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    }

    header{
        background-color: #424e61;
        color: white;
        width: 100%;
        padding: 20px;

    }
    .cabecalho-itens{
        max-width: 1980px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cabecalho-imagem{
        width: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .titulo_site{
        padding: 50px;
        text-align: center;
        width: 50%;
        font: 20px;
    }
    .sociais{
        display: flex;
        justify-content: flex-end;
        width: 25%;
        padding-right: 30px;
    }
    .banner1{
        display: flex;
        justify-content: center;
    }
    
    
    .estudante_titulo{
        padding: 50px;
        text-align: center;
    }

    .estudante-imagem{
    width: 120px;
    }
    
    .estudante-icone{
        width: 24px;
        padding: 4px 8px;
    }

    .estudante{
        background-image: background-color(#FFF6E9);
        padding: 24px 0;
    }

    
    .estudante.div{
        text-align: center;
        padding: 24px 0;
    }
    .estudantes_todos{
        display: flex;
        justify-content: space-around;
    }
   .escola{
        background-image: linear-gradient(#40A2E3,#7FC2EF);
        color: white;
        display: flex;
        justify-content:center;
        padding: 24px 0;
        text-align:center;
        display:block;
        text-decoration: none;
    }
    .escola-titulo{
        padding: 50px;
        text-align: center;
    }