    .cabecalho-itens{
        background-color: #424e61;
        color: white;
        justify-content: flex-end;
        align-items: center;
        padding: 24px 0;
    }
    .titilo_site{
        display: flex;
        justify-content: flex-end;
        align-items: center; 
    }
    body{
        font-family: "Poppins", sans-serif;
    }
    .redes{
        display: flex;
        justify-content: space-evenly; 
        align-items: center;  
        width: 40px;
        padding: 15px; 
    }
    .banner1{
        display: flex;
        justify-content: center;
    }
    .cabecalho-imagem{
        width: 10%;
    }

    .escola-imagem{
        width: 25%;}
    
    .escola{
        background-image: linear-gradient(#40A2E3,#7FC2EF);
        color: white;
        display: flex;
        justify-content:center;
        align-itens: center;
        padding: 24px 0;
    }
    .escola-div-conteudo{
        width: 35%;
    }
    .escola-titulo{
        padding: 24px 0;
    }
    .estudante-imagem{
    width: 120px;
    }
    
    .estudante-icone{
        width: 24px;
        padding: 4px 8px;
    }

    .estudante{
        padding: 24px 0;
    }

    
    .estudante.div{
        text-align: center;
        padding: 24px 0;
    }
    .estudantes_todos{
        display: flex;
        justify-content: space-around;
    }
   