cabecalho-itens{
    background-color: #424e61;
        color: white;
        display: flex;
        justify-content: space-around;
    }
    .cabecalho-imagem{
        width: 10%;
        height: 10%;
    }
    .header{
        background-color: #424e61;
        color: white;
        display: flex;
        justify-content: space-around;
    }